<h1> BIENVENIDOS. </h1>

{{error}}

<p>Bienvenid@  : {{datosuser.name}}</p>
<p>email : {{datosuser.email}}</p>
<p>rol : {{datosuser.rol}}</p>
<br>
</hr>

<a href="/api/sessions/logout">
<button>
Cerrar sesion
</button>
</a>
<br>
</hr>
<h2> Listadomde productos</h2>
{{productos}}










